header css

.top-header {
    padding: 30px;
    background-color: black;
    color: white;
    
}

.nav-area {
    margin-top: 20px;
    display: flex; 
    /* justify-content: space-between; */
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 2em;
}


.nav-area > *{
    flex: 1;
}
.logo {
    margin-top: 15px;
    display: flex;
}

.logo > *{
    flex: 3;
    justify-content: center;
  
}
.img{
    max-width: 200px;
}